/* Using translate and rotate */

.principal { 
	animation: translate 6s; 
	animation-iteration-count: 2; 
	-webkit-animation: translate 6s; /* Safari & Chrome */
	-webkit-animation-iteration-count: 2;
	margin-left: 500px;
} 
 
@keyframes translate { 
0%   { transform:  translate(0px, 0px);    } 
25%   { transform:  translate(-800px, 0px);   }
50%   { transform:  rotate(180deg);   }
100%  { transform:  translate(0px, 0px);   } 
}
 
 
@-webkit-keyframes translate { 
0%   { -webkit-transform:  translate(0px, 0px) ;   } 
25%   { -webkit-transform:  translate(-800px, 0px);   }
50%   { -webkit-transform:  rotate(180deg);   }
100%  { -webkit-transform:  translate(0px, 0px);   } 
} 